
doctype html 
html 
    head 
        title Nihar's Farm Houses 
        block script
        block style 
    body 
     nav#navbar 
              div.logo 
                 img(src="https://as1.ftcdn.net/v2/jpg/03/31/32/62/1000_F_331326248_wzTYEpcGZVCuy6Xkv5UMZ0zzlHbXZNxL.jpg")
                 p Nihar's Farm Houses
              ul 
                 li #[a(href = '/') Home]
                 li #[a(href = '/') About Us]
                 li #[a(href = '/') Farm House Sites]
                 li #[a(href = '/') Contact Us]
     block content 
     section#footer
              h1 Thanks for visiting my site and u can contact me on 9861086932      