
extends base.pug

//- block script(src="../static/index.js") 

block style 
     style 
              include ../static/style.css
              include ../static/stylehome.css

block content
    h1.home This is my home page              