
//-So today we will be using pure pug into order to give the skeleton of the website.

doctype html 

html 
    head 
        title Nihar's Farm Houses 
        style 
              include ../static/style.css
             
    body 
        nav#navbar 
              div.logo 
                 img(src="https://as1.ftcdn.net/v2/jpg/03/31/32/62/1000_F_331326248_wzTYEpcGZVCuy6Xkv5UMZ0zzlHbXZNxL.jpg")
                 p Nihar's Farm Houses
              ul 
                 li #[a(href = '/home') Home]
                 li #[a(href = '/') About Us]
                 li #[a(href = '/') Farm House Sites]
                 li #[a(href = '/contact') Contact Us]
        section#Intro 
                div#introp.head 
                       h2 Welcome to Nihar's Farm Houses and keep enjoying!!
               
        section#Info 
                div#card1.card 
                   p Natural Surroundings
                div#card2.card 
                   p Lively Mornings
                div#card3.card 
                   p The smell of Rain
        section#footer 
                 h1 Thanks for visiting my site and u can contact me on 9861086932
